/* ADD YOUR STYLES HERE */
/* center multiple elements horizontally */

.box-container {
  text-align:center;
}

.box {
  vertical-align: top;
  padding: 15px;
  display: inline;
}


.lower-words {
  list-style-type: none
  
  
  
}


/* center vertically */
.vert-container {
  height:400px;
  width : 100%;
  position : relative;
}

.box2 {
  position : absolute;
  top : 50%;  
  
  transform : translateY(-50%);
}

/* Horizontal List */

.ulist{
  list-style: none;
}

.list {
  display: inline;
}

/* Different size buttons */
#big {
  border-radius: 5px;
  display: inline-block;
  padding: 20px 40px;
}

.button {
  background-color: #cc6699;
  border-radius: 5px;
  display: inline-block;
  padding: 10px 20px;
  color: white;
  border: none;
  text-decoration: none;
  font-weight: 100;
}

#small {
  border-radius: 5px;
  display: inline-block;
  padding: 3px 5px;
}

/* navigation */
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #cc6699;
  border-radius: 5px;
  position: absolute;
}

.nav-li {
  float: left;
  margin: 0 10px;
}

.nav-li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-li a:hover {
  background-color: #f06;
}

/* Pagination */
ol {
  list-style-type: none;
  margin:0;
  padding: 0;
  text-decoration: none;
  
}

.pag-li {
  float: left;
  margin: 0 5px;
  
  text-decoration: none;
}

.middle {
  border-bottom: 2px solid #c69;
  text-decoration: none;
}

span {
  color: #ccc;
  text-decoration: none;
  border-bottom: 2px solid #ccc;
}

.pag-li a {
  color: #c69;
  text-decoration: none;
}

/* Comment Stream */

.square {
  float: left;
  display: inline-block;
}

#sd {
  margin: inherit;
}

.comments {
  overflow: hidden;
}

/* tabs */
.tabs {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.tab-li {
  display: inline;
  border: 1px solid #ccccff;
  margin: 0 5px;
  padding: 5px;
  float: left;
  border-radius: 5px 5px 0 0;
}

.border {
  border: 1px solid #ccccff;
  display: inline-block;
  margin-top: -1px;
  border-radius: 5px;
  padding: 5px;
}

#second {
  border-bottom: 1px double #ccccff;
}







