/* ADD YOUR STYLES HERE */
/* center multiple elements horizontally */

.box {
  vertical-align: top;
  padding: 15px;
  display: inline-block;
}


.lower-words {
  vertical-align: top;
  margin: 0 auto;
  width: 200px;
  padding: 20px;
  
}


/* center vertically */
.box2 {
  padding: 100px 0;
}

/* Horizontal List */

ul.ulist{
  list-style: none;
}

li.list {
  display: inline;
}

/* Different size buttons */
#big {
  border-radius: 5px;
  display: inline-block;
  padding: 20px 40px;
}

.button {
  background-color: #cc6699;
  border-radius: 5px;
  display: inline-block;
  padding: 10px 20px;
  color: white;
  border: none;
  text-decoration: none;
  font-weight: 100;
}

#small {
  border-radius: 5px;
  display: inline-block;
  padding: 3px 5px;
}

/* navigation */
ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #cc6699;
  border-radius: 5px;
  position: absolute;
}

li.nav-li {
  float: left;
  margin: 0 10px;
}

li.nav-li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.nav-li a:hover {
  background-color: #f06;
}

/* Pagination */
ol {
  list-style-type: none;
  margin:0;
  padding: 0;
  
}

.pag-li {
  float: left;
  margin: 0 5px;
  /* border-bottom: 2px solid #c69; */
}

span {
  color: #ccc;
  text-decoration: underline;
  border-bottom-color: #ccc;
}

.pag-li a {
  color: #c69;
}

.pag-li.prev-last {
  text-decoration: none;
}

/* Comment Stream */

.comments {
  vertical-align: text-top;
  vertical-align: text-top;
  top: 0px;
  left: 200px;
}

.square {
  position: absolute;
 
}

/* tabs */
.tabs {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.tab-li {
  display: inline;
  border:solid;
  border-width: 1px;
  margin: 0 5px;
  padding: 5px;
  float: left;
  border-radius: 5px 5px 0 0;
}

.border {
  border: 1px solid;
  display: inline-block;
}







